.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  margin: auto;
}

.level {
  margin-right: auto;
  margin-left: 10px;
  padding: 20px;
  background-color: #fff;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.808);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@supports (-webkit-text-stroke: 1px black) {
  h1 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

@media (max-width: 768px) {
  :root {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .table {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    justify-items: center;
    margin-bottom: 20px;
  }

  .header {
    flex-direction: column-reverse;
  }

  .title {
    margin-top: 20px;
  }

  .level {
    margin: 0 0 10px 0;
  }

  .board {
    margin: 0 0 10px 0;
  }
}